.container {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    gap: 35px;
    width: 100%;
}

.today_container {
    width: 14%;
}

select {
    display: block;
    margin-bottom: 15px;
}

textarea {
    display: block;
    margin-bottom: 20px;
}

#batch {
    margin-bottom: 20px;
}

#input_boxes {
    display: flex;
    gap: 10px;
}

#submission, .archive {
    display: flex;
    align-items: center; 
    gap: 5px;
    height: 18px;
}

.archive {
    margin-bottom: 8px;
}

#button {
    align-items: center;
}

#flash, #flash_daily, #flash_biweekly {
    /* height: 10px;  */
    opacity: 1;
    transition: opacity 500ms;
}

#flash.fade, #flash_daily.fade, #flash_biweekly.fade {
    opacity: 0;
}
