.container {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    gap: 25px;
}

.today_container {
    width: 14%;
}

select {
    display: block;
    margin-bottom: 15px;
}

textarea {
    display: block;
    margin-bottom: 20px;
}

#batch {
    margin-bottom: 20px;
}

#input_boxes {
    display: flex;
    gap: 10px;
}

#submission {
    display: flex;
    align-items: center; 
    gap: 5px;
    height: 18px;
}

#button {
    align-items: center;
}

#flash {
    /* height: 10px;  */
    opacity:1;
    transition:opacity 500ms;
}
#flash.fade {
    opacity:0;
}
