<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Deletion</title>
</head>
<body>
<div>
    <h2>Hello!</h2>
    <h3>Fill out the form to delete a batch of data.</h3>
    <form method="post">
        <label for="employees">Name</label>
        <select id="employees" name="employee" required>
            <option disabled selected value> -- select an option -- </option>
            {% for employee in employees %}
                <option value="{{ employee }}">{{ employee }}</option>
            {% endfor %}
        </select>

        <label for="batch">Batch</label>
        <div>
            <input type="number" id="batch" name="batch" required>
        </div>

        <div id="submission">
            <input type="submit" value="Submit"> 
            <div id="flash">
                {% for message in get_flashed_messages() %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    </form> 

    <p>
        <a href="today">today</a><br>
        <a href="biweekly">biweekly</a><br>
        <a href="/">home</a>
    </p>
    <script>
        setTimeout(function(){
            document.getElementById('flash').className = 'fade';
        }, 2500);
    </script>
</div>
</body>
</html>
