<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Input</title>
</head>
<body>
<div>
    <h2>Hello!</h2>
    <h3>Today's date is {{date}}.</h3>
    <form method="post">
        <label for="employees">Name</label>
        <select id="employees" name="employee" required>
            <option disabled selected value> -- select an option -- </option>
            {% for employee in employees %}
                <option value="{{ employee }}">{{ employee }}</option>
            {% endfor %}
        </select>

        <div id = "input_boxes">
            <div>
                <label for="normal">Normal</label>
                <textarea rows = "6" cols = "22" id="normal" name="normal" placeholder=" -- list transactions -- " value=""></textarea>
            </div>
            <div>
                <label for="sns">SNS</label>
                <textarea rows = "6" cols = "22" id="sns" name="sns" placeholder=" -- list transactions -- " value=""></textarea>
            </div>
            
            <div>
                <p>
                    <small>
                        Please list each transaction for each category. <br>
                    </small>
                </p>
                <p>
                    <small>
                        Make sure to separate each value using commas! <br>
                    </small>
                </p>
                <p>
                    <small>
                        (ex. 35, 35, 45, 45)
                    </small>
                </p>
            </div>
        </div>

        <div id="submission">
            <input type="submit" name="action" value="Submit"> 
            <div id="flash">
                {% for message in get_flashed_messages(category_filter=["dog"]) %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    </form> 

    <p>
        <a href="today" target="_blank">today</a><br>
        <a href="biweekly" target="_blank">biweekly</a><br>
        <a href="deletion" target="_blank">made a mistake?</a>
    </p>

    <form method="post">
        <div class="archive">
            <input type="submit" name="action" value="daily archive"> 
            <div id="flash_daily">
                {% for message in get_flashed_messages(category_filter=["cat"]) %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="archive">
            <input type="submit" name="action" value="biweekly archive"> 
            <div id="flash_biweekly">
                {% for message in get_flashed_messages(category_filter=["rat"]) %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>

        
        <div class="archive"> 
            <input type="submit" name="action" value="cycle day">
        </div>

        <div class="archive"> 
            <input type="submit" name="action" value="reset date">
        </div>

        <div class="archive"> 
            <input type="submit" name="action" value="initializer">
        </div>
    </form>
        
    <script>
        setTimeout(function(){
            document.getElementById('flash').className = 'fade';
        }, 2500);

        setTimeout(function(){
            document.getElementById('flash_daily').className = 'fade';
        }, 2500);

        setTimeout(function(){
            document.getElementById('flash_biweekly').className = 'fade';
        }, 2500);
    </script>
</div>
</body>
</html>
